.um-button {
    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 0;
        border-radius: 0;
        background: #ccc;
    }

    button, a {
        font-family: 'Circe';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $white;
        padding: 19px 30.5px;
        background: transparent;
        border: 1px solid transparent;
        transition: all ease-in-out .3s;
        position: relative;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #D1D94D 0%, #BEC644 100%);
            z-index: -1;
        }

        @media (hover:hover) {
            &:hover {
                border: 1px solid #BEC644;
                background: $white;
                color: $maintext;
            }
        }

        @media screen and (max-width: 768px) {
            font-size: 12px;
        }

        @media screen and (max-width: 620px) {
            padding: 12px 24px;
        }
    }
}