.um-container {
    max-width: calc(1760px + 160px);
    width: 100%;
    padding: 0 80px;

    @media screen and (max-width: 1600px) {
        padding: 0 40px;
    }

    @media screen and (max-width: 768px) {
        padding: 0 20px;
    }
}