.um-header {
    &-delivery {
        height: 40px;
        background: linear-gradient(90deg, #EE6668 24.89%, #F35759 40%, #EE6668 72.17%);

        @media screen and (max-width: 768px) {
            height: 30px;
        }
    }

    &-main {
        height: 120px;
        background: $maintext;

        @media screen and (max-width: 768px) {
            height: 60px;
        }
    }
}