@font-face {
	font-family: 'Forum';
	font-display: swap;
	src: url("../../fonts/Forum.woff2") format("woff2"), url("../../fonts/Forum.woff") format("woff");
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	font-display: swap;
	src: url("../../fonts/Circe-Regular.woff2") format("woff2"), url("../../fonts/Circe-Regular.woff") format("woff");
	font-style: normal;
}
