extends ../common/layout

//- banner, billboard блокировщик рекламы скрывает,
//- поэтому специально пишу с ошибкой 
//- bildboard
block content
    main
        section.swiper.um-bildboard.um-container.js-bildboard
            .swiper-wrapper
                .swiper-slide.um-bildboard__slide
                    .um-bildboard__left
                        .um-bildboard__title
                            h2.js-title Кето 
                        .um-bildboard__desk 
                            p.js-desk рационы, программы питания 
                        .um-bildboard__btn.um-button 
                            a(href="javascript:void(0);") Подробнее
                    .um-bildboard__right
                        .um-bildboard__img 
                            img(src="./img/slide.jpg", alt="Слайд", title="Слайд")
                .swiper-slide.um-bildboard__slide
                    .um-bildboard__left
                        .um-bildboard__title 
                            h2.js-title Кето Кето
                        .um-bildboard__desk 
                            p.js-desk рационы, программы питания
                        .um-bildboard__btn.um-button 
                            a(href="javascript:void(0);") Подробнее
                    .um-bildboard__right
                        .um-bildboard__img
                            img(src="./img/slide-2.jpg", alt="Слайд 2", title="Слайд 2")
                .swiper-slide.um-bildboard__slide
                    .um-bildboard__left
                        .um-bildboard__title 
                            h2.js-title Кето 
                        .um-bildboard__desk 
                            p.js-desk рационы, программы питания программы питания
                        .um-bildboard__btn.um-button 
                            a(href="javascript:void(0);") Подробнее
                    .um-bildboard__right
                        .um-bildboard__img 
                            img(src="./img/slide-3.jpg", alt="Слайд 3", title="Слайд 3")
            .swiper-button-next.um-bildboard__arrow.um-bildboard__arrow--right
            .swiper-button-prev.um-bildboard__arrow
            .swiper-pagination.um-bildboard__pagination.js-pagination
            .um-bildboard__progressbar 
                progress.js-progress(value='0' max='100')
            .um-bildboard__btn.um-bildboard__btn--remove.um-button
                a.js-link(href="javascript:void(0);") Подробнее