.um-bildboard {
    margin-top: 40px;
    position: relative;

    & .swiper-wrapper {
        padding-bottom: 120px;

        @media screen and (max-width: 1400px) {
            padding-bottom: 80px;
        }

        @media screen and (max-width: 1024px) {
            padding-bottom: 100px;
        }

        @media screen and (max-width: 620px) {
            padding-bottom: 80px;
        }
    }

    &__slide {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__img {
        max-width: 879px;
        max-height: 737px;
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
        }

        @media screen and (max-width: 1400px) {
            max-width: 700px;
            max-height: 590px;
        }

        @media screen and (max-width: 1200px) {
            max-width: 560px;
            max-height: 470px;
        }

        @media screen and (max-width: 1024px) {
            max-width: 400px;
            width: 400px;
            max-height: 340px;
        }

        @media screen and (max-width: 768px) {
            max-width: 100%;
            width: 100%;
            max-height: unset;
        }
    }

    &__title {
        h2 {
            font-family: 'Forum';
            font-style: normal;
            font-weight: 400;
            font-size: 120px;
            line-height: 100%;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            word-break: break-word;
            text-overflow: ellipsis;
            max-height: 240px;
            overflow: hidden;

            @media screen and (max-width: 1200px) {
                font-size: 90px;
            }

            @media screen and (max-width: 1024px) {
                font-size: 64px;
            }

            @media screen and (max-width: 768px) {
                font-size: 44px;
            }

            @media screen and (max-width: 375px) {
                font-size: 34px;
            }
        }
    }

    &__desk {
        margin-top: 16px;

        p {
            font-family: 'Forum';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 64px;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            word-break: break-word;
            text-overflow: ellipsis;
            max-height: 192px;
            overflow: hidden;

            @media screen and (max-width: 1200px) {
                font-size: 34px;
                line-height: 150%;
            }

            @media screen and (max-width: 1024px) {
                font-size: 26px;
                line-height: 150%;
            }

            @media screen and (max-width: 768px) {
                font-size: 18px;
                line-height: 100%;
            }
        }
    }

    &__left {
        max-width: 395px;
        margin-top: 5%;

        @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        @media screen and (max-width: 768px) {
            order: 2;
            max-width: unset;
        }
    }

    &__btn {
        margin-top: 85px;

        @media screen and (max-width: 1200px) {
            margin-top: 60px;
        }

        @media screen and (max-width: 1024px) {
            display: none;
        }

        &--remove {
            display: none;

            @media screen and (max-width: 1024px) {
                position: absolute;
                bottom: 6%;
                right: 40px;
                margin-top: 0;
                display: block;
                z-index: 10;
            }

            @media screen and (max-width: 768px) {
                right: 20px;
            }
        }
    }

    &__arrow {
        width: 32px;
        height: 32px;
        top: unset;
        bottom: 19%;
        left: calc(0% + 80px);
        right: unset;

        &::after {
            content: "";
            background: url(../img/arrow.png) center/cover no-repeat;
            width: 100%;
            height: 100%;
        }

        &--right {
            left: calc(7.5% + 80px);

            &::after {
                transform: scale(-1);
            }
        }

        @media screen and (max-width: 1600px) {
            left: calc(0% + 40px);

            &--right {
                left: calc(7.5% + 40px);
            }
        }

        @media screen and (max-width: 1400px) {
            bottom: 4%;
        }

        @media screen and (max-width: 1200px) {
            &--right {
                left: calc(9% + 40px);
            }
        }

        @media screen and (max-width: 1024px) {
            bottom: 5.5%;

            &--right {
                left: calc(11% + 40px);
            }
        }

        @media screen and (max-width: 768px) {
            left: calc(0% + 20px);
            width: 24px;
            height: 24px;
            bottom: 5%;

            &--right {
                left: calc(12% + 20px);
            }
        }

        @media screen and (max-width: 620px) {
            &--right {
                left: 97px;
            }
        }
    }

    &__pagination {
        text-align: left;
        max-width: fit-content;
        bottom: 19%;
        left: calc(3.5% + 80px);
        font-family: 'Circe';
        font-style: normal;
        font-weight: 350;
        font-size: 17px;
        line-height: 160%;
        transition: all ease-in-out .3s;

        @media screen and (max-width: 1600px) {
            left: calc(3.3% + 40px);
        }

        @media screen and (max-width: 1400px) {
            bottom: 4%;
        }

        @media screen and (max-width: 1200px) {
            left: calc(3.8% + 40px);
        }

        @media screen and (max-width: 1024px) {
            left: calc(4.5% + 40px);
            bottom: 5.5%;
        }

        @media screen and (max-width: 768px) {
            font-size: 16px;
            left: calc(4.5% + 20px);
            bottom: 5%;
        }

        @media screen and (max-width: 620px) {
            left: 48px;
        }
    }

    &__progressbar {
        progress {
            height: 2px;
            background-color: rgba(0, 0, 0, 0.1);
            width: 49px;
            position: absolute;
            bottom: 19%;
            left: calc(3.5% + 80px);

            &::-webkit-progress-value {
                background-color: #D1D94D;
            }

            @media screen and (max-width: 1600px) {
                left: calc(3.3% + 40px);
            }

            @media screen and (max-width: 1400px) {
                bottom: 4%;
            }
    
            @media screen and (max-width: 1200px) {
                left: calc(3.8% + 40px);
            }
    
            @media screen and (max-width: 1024px) {
                left: calc(4.5% + 40px);
                bottom: 5.5%;
            }
    
            @media screen and (max-width: 768px) {
                left: calc(4.5% + 20px);
                bottom: 5%;
            }
    
            @media screen and (max-width: 620px) {
                left: 48px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        margin-top: 20px;
    }
}